/*
 * Google Font Merienda One
*/

$meriendaFileName: '/build/frontend/fonts/Pacifico-Regular';

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;

    src: local('Pacifico'), local('Pacifico'),
         url($meriendaFileName + '.woff2') format('woff2');

    src: url($meriendaFileName + '.eot') format('eot') format("embedded-opentype")
         url($meriendaFileName + '.eot') format('eot'),
         url($meriendaFileName + '.woff') format('woff'),
         url($meriendaFileName + '.ttf') format('ttf'),
         url($meriendaFileName + '.svg') format('svg'),
}
