
.theme-dark {

  --page-background: #36393e;

  --logo-fill: #fefefe;

  --header-background: #2e3136;
  --header-color: silver;
  --header-url: url('../images/hero-bg-dark.svg');

  --card-background: #2e3136;
  --card-color: silver;

}
