
.theme-light {

  --page-background: #f3f3f3;

  --logo-fill: #0064ca;

  --header-background: #fff;
  --header-color: #18171b;
  --header-url: url('../images/hero-bg-white.svg');

  --card-background: #fff;
  --card-color: #18171b;

}
