
<ul class="socialmedia">
    <li>
        <a href="mailto:bogumilbr@gmail.com"><i class="fa fa-envelope"></i></a>
    </li>
    <li>
        <a href="https://github.com/BeautyFastCode"><i class="fab fa-github"></i></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/bogumil/"><i class="fab fa-linkedin-in"></i></a>
    </li>
</ul>
